
body{
  overflow-x:hidden;
}

.navbar{
font-family: 'League Spartan', sans-serif;
}
.nav-logo{
  width:6rem;
}

/*---------------------------Cards section------------------------------*/
.card-title {
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}  

.card-text {
  position: relative;
  width: 100%;
  height: 5rem;
}
.card-text p {
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  font-size: .7em;
  color: rgb(112, 110, 110);
}

.meta-style {
  border-top: 1px dashed #cee1f8;
  margin-top: 25px;
}

.meta-style ul {
  text-align: left;
}

.meta-style ul li {
  font-size: .7em;
  font-weight: 700;
  margin:2px;
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
}
