body{
    background-color: black;
}
section{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
img{
    width:25rem;
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
    color: white;
}
