

/*-----------------------footer-------------------------*/

footer {
    background-color: #443d3d;
    color: white;
}

.footer-logo {
    width: 10rem;
}

li {
    list-style-type: none;
    padding: .25rem 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    background: white;
    color: black;
}

.fa {
    padding: .5rem .7rem;
    font-size: 1.1rem;
    --width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 15px 12px;
}